/*--fonts--*/
@fontface {
  font-family: 'Averta', sans-serif;
  src: URL('web/fonts/Averta-regular.ttf');
}
@fontface {
  font-family: 'Averta', sans-serif;
  src: URL('web/fonts/Averta-bold.ttf');
}
@fontface {
  font-family: 'DMSans', sans-serif;
  src: URL('web/fonts/DMSans-Regular.ttf');
}
/*--font end--*/

/*--container styling*/
.container {
  max-width:1140px;
}
/*--end--*/

/*--hero section styling*/
.hero {
    background-image: url(../../web/img/header-plain.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-color: #ddd;
    margin-top: 0 !important;
    padding-bottom: 8rem !important;
}
.hero-title {
    font-family: 'Averta', sans-serif;
    font-size: 4rem !important;
    color: #fff !important;
    margin-bottom: -18px;
    font-weight: 300 !important;
}
span.green-text {
    color: #03d203;
    font-size: 3rem;
    font-family: 'Averta',sans-serif;
}
@media(min-width:992px) {
  .sub-text {
    width: 100%;
  }
  .info-text {
    width: 20%;
  }
}
.sub-text {
    color: #fff;
    font-family: 'Aventa',sans-serif;
    font-size: 16px;
    margin-top: 15px !important;
}
button.btn.btn-primary.btn-lg.px-4.gap-3 {
    background-color: transparent;
    border: 2px solid #fff;
    border-radius: 0;
    font-size: 16px !important;
}
/*--hero section styling end--*/

/*--navbar styling*/
@media (min-width: 992px) {}
.navbar-expand-lg {
    margin-bottom: 10rem;
}
.navbar-brand {
    background: #fff;
    padding: 10px 30px 10px 30px;
}
.navbar-nav {
    justify-content: center;
    width: 100%;
}
@media(min-width:992px){
  .nav-link {
    font-family: 'Averta', sans-serif;
    font-weight: normal;
    color: #fff !important;
    font-size: 14px;
    padding-right: 50px !important;
  }
}
/*--navbar styling end*/

@media(device-width:768px){
  .card {
    width: 100% !important;
  }
}
@media(max-width:767px){
  .card {
    box-shadow: 10px 0px 2px 0px #eae9e9;
  }
}
@media(min-width:992px){
  .card {
    margin-top: -15px;
  }
}
.card {
    height: 100%;
    border: none;
    border-radius: 0;
    background-color: #fff;
    box-shadow: 8px 8px 8px -4px #ececec;
}

.i-circled {
    text-align: center;
    font-size: 24px;
    margin-top: 2rem;
    margin-bottom: 2rem;
    /*border-radius: 50%;
    background-color: #13dc72;
    padding: 3rem;
    width: 50%;
    color: #fff;*/
}

/*@media(min-width:992px) {
  #work-heading {
    margin-top: 5.5rem;
  }
}*/
#work-heading {
  color: #03d286;
  font-family: 'Averta', sans-serif;
  font-size: 1.2rem;
  text-align: center;
  text-transform: uppercase;
  margin-top: 5.5rem;
}
@media (max-width:768px){
  .work-with {
    width: 100%;
    margin-left:0 !important;
  }
}
.work-with {
    margin-top: 30px;
    margin-bottom: 80px;
    margin-left: 50px;
}

.truck-image {
  width: 100%;
}

img.adverts {
  width: 100%;
}
@media(min-width:768px) {
  section#two-column-advert {
    margin-top: 8rem;
    margin-bottom: 8rem;
  }
}
@media(max-width:767px) {
  section#two-column-advert {
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
}
.adverts-column {
  padding-right: 5rem;
}
.advert-title {
    margin-top: 1.2rem;
    text-transform: uppercase;
    font-size: 18px;
    color: #0698de;
    font-weight: normal;
    font-family: 'Averta',sans-serif;
    letter-spacing: -0.5px;
}
.estee-lauder {
    height: 30rem;
    transform: translateZ(10px);
}
.land-rover {
    margin-top: 3rem;
    height: 35rem;
}
.description {
    font-family: 'Averta', sans-serif;
    font-weight: 500;
    font-size: 32px;
    line-height: 1.1;
}
.advert-button {
    background-color: transparent;
    border: 2px solid #0698de;
    color: #0698de;
    text-transform: capitalize;
    padding: 10px;
    width: 30%;
    border-radius: 0;
    margin-top: 1.2rem;
}












.footer {
    width: 100%;
    position: relative;
    height: auto;
    background-color: #0698de;
}
@media only screen and (min-width: 1280px) {
  .contain {
      width: 1140px;
      margin: 0 auto;
  }
}
.footer .col {
    width: 280px;
    height: auto;
    float: left;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 0px 20px 20px 20px;
}
.footer .col h1 {
    padding: 0;
    font-family: inherit;
    font-size: 14px;
    padding: 20px 0px 5px 0px;
    color: #fff;
    font-weight: normal;
    margin-top: 3rem;
}
.footer .col ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.footer .col ul li {
    color: #757575;
    font-size: 14px;
    font-family: inherit;
    font-weight: normal;
    padding: 5px 0px 5px 0px;
    cursor: pointer;
    transition: .2s;
    -webkit-transition: .2s;
    -moz-transition: .2s;
}
